:root {

    /* Primary Colors */
    --very-dark-magenta-color: hsl(300, 43%, 22%);
    --soft-pink-color: hsl(333, 80%, 67%);

    /* Neutral Colors */
    --dark-grayish-magenta-color: hsl(303, 10%, 53%);
    --light-grayish-magenta-color: hsl(300, 24%, 96%);
    --white-color: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "League Spartan", sans-serif;
    background-color: var(--white-color);
    color: var(--very-dark-magenta-color);
    font-size: 15px;
    font-weight: 400;
}

.background-style {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.background-style::before {
    content: "";
    position: absolute;
    background: url(../images/bg-pattern-top-desktop.svg);
    background-size: cover;
    top: -240px;
    left: 0px;
    width: 800px;
    height: 600px;
    z-index: -1;
}

.background-style::after {
    content: "";
    position: absolute;
    background: url(../images/bg-pattern-bottom-desktop.svg);
    background-size: cover;
    bottom: 0;
    right: 0px;
    width: 1100px;
    height: 600px;
    z-index: -1;
}

@media (max-width: 787px) {
    .background-style {
        overflow: scroll;
    }

    .background-style::before {
        content: "";
        position: absolute;
        background: url(../images/bg-pattern-top-mobile.svg);
        background-size: cover;
        top: -200px;
        left: 0px;
        width: 500px;
        height: 400px;
        z-index: -1;
    }

    .background-style::after {
        content: "";
        position: absolute;
        background: url(../images/bg-pattern-bottom-mobile.svg);
        background-size: cover;
        bottom: -800px;
        right: 0px;
        width: 100%;
        height: 800px;
        z-index: -1;
    }
}

.center-wrapper {
    display: grid;
    place-items: center;
    height: 100%;
    z-index: 3;
}

@media (max-width: 787px) {
    .center-wrapper {
        margin: 100px auto;
    }
}

.box {
    margin: 100px 230px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

@media (max-width: 787px) {
    .box {
        margin: 50px 20px;
        gap: 40px;
        text-align: center;
    }
}

.box .intro {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 150px;
}

@media (max-width: 787px) {
    .box .intro {
        margin: 50px 20px 0px;
        gap: 20px;
    }
}

.box .intro .details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box .intro .details h1 {
    font-weight: 700;
    font-size: 55px;
}

.box .intro .details p {
    color: var(--dark-grayish-magenta-color);
    line-height: 1.4;
    font-weight: 500;
    padding-right: 50px;
}

@media (max-width: 787px) {
    .box .intro .details p {
        padding: 0;
    }
}

.box .intro .rating {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    align-items: start;
}

.box .intro .rating .rate-box {
    background-color: var(--light-grayish-magenta-color);
    padding: 15px 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    max-width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box .intro .rating .box-2 {
    margin-left: 50px;
}

.box .intro .rating .box-3 {
    margin-left: 100px;
}

@media (max-width: 787px) {
    .box .intro .rating {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .box .intro .rating .rate-box {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .box .intro .rating .box-2,
    .box .intro .rating .box-3 {
        margin-left: 0;
    }
}

.box .intro .rating .rate-box .rate-p {
    font-weight: 700;
}

.box .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    align-items: start;
}

.box .card {
    background-color: var(--very-dark-magenta-color);
    color: var(--white-color);
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 2;
    padding: 50px 40px 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.box .second {
    margin-top: 20px;
}

.box .third {
    margin-top: 40px;
}

@media (max-width: 787px) {
    .box .cards {
        margin: 0 20px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 10px;
        text-align: left;
    }

    .box .second,
    .box .third {
        margin: 0;
    }
}

.box .card .avatar {
    width: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.box .card .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.box .card .info .name {
    font-weight: 700;
}

.box .card .info .status {
    color: var(--soft-pink-color);
}

.box .card .quote {
    padding-top: 30px;
    grid-row: 2;
    grid-column: 1/ span2;
    line-height: 1.4;
}

.attribution {
    text-align: center;
    margin: -60px 0 0;
    color: var(--cyan-color-800);
}


@media (max-width: 787px) {
    .attribution {
        margin-top: 5px
    }
}

.attribution a {
    color: var(--very-dark-magenta-color);
    font-style: italic;
    font-weight: 700;
    text-decoration: none;

}

